<footer class="post-info">
        <abbr class="published" title="{{ article.date.isoformat() }}">
                Le {{ article.locale_date }}
        </abbr>

        {% if article.author %}
        <address class="vcard author">
                Par <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
        </address>
        {% endif %}
<p>Dans <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">get the pdf</a>{% endif %}</p>
{% include 'taglist.html' %}
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
</footer><!-- /.post-info -->
