{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
    {% for article in articles_page.object_list %}
        {% if loop.first and articles_page.has_previous %}
            <section id="content" class="body">
                <ol id="posts-list" class="hfeed" start="{{ articles_paginator.per_page -1 }}">
        {% endif %}
        <li><article class="hentry">
            <header>
                <h1>
                    {# Title #}
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                       title="Permalien vers {{ article.title|striptags }}">{{ article.title }}</a>
                    
                    {# Inline infos displayed for all articles except the fisrt #}
                    {% if not loop.first or articles_page.has_previous() %}
                    <span class="hentry-infos">
                        par <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
                    </span>
                    {% endif %}
                </h1>
            </header>
            
            {# Block infos displayed only for the most recent article #}
            {% if loop.first and not articles_page.has_previous() %}
                <div class="entry-content">
                {% include 'article_infos.html' %}
                {{ article.summary }}
                <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">article complet</a>
                {% include 'comments.html' %}
                </div><!-- /.entry-content -->
            {% endif %}
        </article></li>
        {% if loop.last %}
            </ol><!-- /#posts-list -->
            {% if loop.last and (articles_page.has_previous()
            or not articles_page.has_previous() and loop.length > 1) %}
                {% include 'pagination.html' %}
            {% endif %}
            </section><!-- /#content -->
        {% endif %}
    {% endfor %}
{% else %}
<section id="content" class="body">
<h2>Pages</h2>
    {% for page in PAGES %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</section>
{% endif %}
{% endblock content %}
